body{
    background-color: tan;
    color:olive;
}
.heading{
    width:80%;
    font-size:22px;
}
.name_of_objects,#result_object_name,#result_object_accuracy{
color:black;
}
#camera,#result{
    border:2px dashed skyblue;
    width:350px;
    height:300px;
}